-provide :button_text, 'Update fuel card brand'

%h1 Edit fuel card brand

= render 'form', fuel_card_brand: @fuel_card_brand

= link_to 'Show', @fuel_card_brand |
= link_to 'Back', fuel_card_brands_path
